{% extends 'base.html' %}

{% block title %}Add New Module{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/admin_course.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/navbar_footer_admin.css') }}">
<script src="{{ url_for('static', filename='js/new_course_content.js') }}" defer></script>
{% endblock %}

{% block content %}

<div class="content">
    {% with form = Forms.course.NewModuleForm() %}
    <form action="{{ url_for('admin.add_module', course_name=course_name) }}" class="course-content d-flex flex-column" method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="title" data-course-name="{{ course_name }}">
            <h1>New Module for "{{ course_name }}"</h1>
        </div>
        <span class="warning-msg">Please beware that once you leave this form without submitting, you will need to re-enter all of the fields. We recommend you to submit the form as it is and edit it later.</span>
        <div class="module d-flex align-items-center">
            {{ form.module.label(class="d-inline-block") }}
            {{ form.module(id="module-name", class="d-inline-block") }}
            <!-- <label for="module-name" class="d-inline-block">Module Name</label>
            <input type="text" class="d-inline-block" id="module-name" placeholder="Enter the module name here..."> -->
        </div>

        <!-- LEARNING -->
        <div class="page study">
            <p class="d-flex accordion">Page 1
                <button type="button" class="ms-auto icon-trash"><img src="{{ url_for('static', filename='assets/icon_trash.svg') }}" alt=""></button>
                <button type="button" class="up"><img src="{{ url_for('static', filename='assets/icon_arrowupdown.svg') }}" alt=""></button>
                <button type="button" class="down"><img src="{{ url_for('static', filename='assets/icon_arrowupdown.svg') }}" alt=""></button>
                <img src="{{ url_for('static', filename='assets/icon_dropdown.svg') }}" alt="" class="dropdown-icon">
            </p>
            <div class="panel">
                <input type="hidden" id="{{ form.learning[0].order.id }}" name="{{ form.learning[0].order.name }}" value="1" class="hidden">
                <div class="type">
                    <label class="d-inline-block">Type</label>
                    <span class="content-type d-inline-block">Learning</span>
                </div>
                <div class="learning-pic position-relative">
                    <label for="{{ form.learning[0].image.id }}">Picture</label>
                    <label for="{{ form.learning[0].image.id }}" class="input-file">
                        <img src="{{ url_for('static', filename='assets/icon_upload.svg') }}" alt="">
                        Add File
                    </label>
                    <span class="filename">No file chosen</span>
                    <input type="file" id="{{ form.learning[0].image.id }}" name="{{ form.learning[0].image.name }}" class="input-file-invi" accept=".jpg, .jpeg, .png">
                    <p class="error-message error-course-logo">Error</p>
                    <img id="" src="#" alt="Your image" class="preview">
                </div>
                <div class="content-learning">
                    <label for="{{ form.learning[0].content_body.id }}">Content</label>
                    <textarea name="{{ form.learning[0].content_body.name }}" id="{{ form.learning[0].content_body.id }}" rows="4" placeholder="Enter learning content here..." required></textarea>
                </div>
            </div>
        </div>
        
        <p id="error-message"></p>
    
    
        <div class="button-wrapper d-flex justify-content-center position-relative">
            <button type="button" class="btn" id="cancel-btn"><a href="{{ url_for('admin.modules', course_name=course_name) }}">Cancel</a></button>
            <button type="button" class="btn d-flex add-more-page-btn"><img src="{{ url_for('static', filename='assets/icon_plus.svg') }}"
                    alt="">Add more page</button>
            <div class="add-page-options d-none">
                <p id="learning-option"><button type="button">Learning</button></p>
                <p id="challenge-option-option"><button type="button">Challenge Options</button></p>
            </div>
            <button class="btn submit-btn" id="submit-btn" type="submit">Submit</button>
        </div>
    </form>

</div>


{% endwith %}

{% endblock %}