{% extends 'base.html' %}

{% block title %}Add New Course{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/admin_course.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/navbar_footer_admin.css') }}">
<script src="{{ url_for('static', filename='js/admin_course_detail.js') }}" defer></script>
{% endblock %}

{% block content %}
<div class="content">
    <form action="" class="course-details d-flex flex-column">
        <div class="title">
            <h1>Course Details</h1>
        </div>
        <div class="detail">
            <label for="course-title">Title</label>
            <input type="text" name="course-title" id="course-title" placeholder="Enter course title here..." required>
            <p class="error-message" id="error-title"></p>
        </div>
        <div class="detail position-relative">
            <label for="course-logo">Course Image</label>
            <label for="course-logo" class="input-file">
                <img src="{{ url_for('static', filename='assets/icon_upload.svg') }}" alt="">
                Add File
            </label>
            <span class="filename">No file chosen</span>
            <input type="file" name="course-logo" id="course-logo" accept=".jpg, .jpeg, .png, .svg" required>
            <p class="error-message" id="error-course-logo">Error</p>
            <img id="preview" src="#" alt="Your image" class="preview">
        </div>
        <div class="detail">
            <label for="desc">Description</label>
            <textarea name="desc" id="desc" rows="4" placeholder="Enter course description here..." required></textarea>
            <p class="error-message" id="error-desc"></p>
        </div>
        <div class="detail">
            <label for="visibility">Visibility</label>
            <select name="visibility" id="visibility" required>
                <option value="">Manage Visibility</option>
                <option value="public">Public</option>
                <option value="private">Private</option>
            </select>
            <p class="error-message" id="error-visibility"></p>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn" id="submit-btn">Submit</button>
        </div>
    </form>
    <!-- get the data, save it in the DB, and then redirect to admin_course_content.html ( ada di admin_course_content() ) -->
</div>

{% endblock %}