.content{
    height: calc(100vh - 48px);
    padding: 32px 64px 32px 344px;
    overflow-y: scroll;
}

.course-details{
    row-gap: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--gray);
    margin-bottom: 24px;
}

.title{
    border-bottom: 1px solid black;
}

.title h1{
    font-family: Manrope;
    font-size: 32px;
    font-weight: 700;
    margin: 0px;
}

label, input, textarea, select{
    font-family: Poppins;
    font-size: 16px;
}

label{
    display: block;
    margin-bottom: 4px;
    font-weight: 500;
}

input, .input-file, textarea, select{
    border-radius: 5px;
    background-color: var(--medium-light-green);
    border: none;
    font-weight: 400;
    margin-bottom: 0px;
}

input, textarea{
    width: 100%;
    padding: 8px;
}

textarea{
    margin-bottom: -5px;
}

.input-file{
    padding: 8px 16px 8px 12px;
    width: fit-content;
}

input:focus{
    outline: 2px solid var(--dark-blue);
}

.input-file img{
    margin-right: 4px;
}

#course-logo, #learning-pic {
    opacity: 0;
    position: absolute;
    z-index: -1;
    width: 1px;
    top: 0;
}

select {
    padding: 8px 120px 8px 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("../assets/icon_dropdown.svg");
    background-repeat: no-repeat;
    background-position-x: calc(100% - 8px);
    background-position-y: 50%;
}

.error-message{
    color: red;
    margin: 0px;
    display: none;
}

.course-content{
    row-gap: 24px;
}

.page{
    padding: 16px;
    background-color: var(--super-light-green);
    border-radius: 5px;
}

.accordion{
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(15, 41, 47, 0.30);
    color: var(--black);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    margin: 0px;
}

/* .accordion > img.rotate{
    transition: transform 0.3s ease;
    transform: rotate(180deg);
} */

.panel{
    row-gap: 16px;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.type > label {
    margin-right: 64px;
    margin-bottom: 0px;
}


/* CODE PLAYGROUND */
.code-playground{
    background-color: var(--dark-blue);
    padding: 40px 12px 64px 12px;
    border-radius: 5px;
    position: relative;
}

.code-area{
    padding: 0px;
    background-color: transparent;
    color: var(--white);
}

.code-playground span{
    color: var(--blue);
    font-family: Manrope;
    font-size: 16px;
    font-weight: 800;
}

.language-span{
    position: absolute;
    top: 12px;
    right: 12px;
}

.run-code{
    position: absolute;
    bottom: 12px;
    right: 12px;
    background-color: transparent;
    border: none;
}

.run-code img{
    margin-left: 8px;
}

.radio-option{
    display: flex;
    padding: 8px;
    border-radius: 5px;
}

.radio-option > input{
    width: fit-content;
    margin-right: 8px;
}

.radio-option > input:focus{
    outline: none;
}

.radio-option:hover{
    outline: 1px solid var(--medium-light-green);
}

.radio-option > label{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0px;
}

.radio-option > img{
    margin-left: auto;
    visibility: hidden;
    opacity: 0;
}

.radio-option:hover > img{
    visibility: visible;
    opacity: 1;
    cursor: pointer;
}

.add-option-btn{
    margin-top: 8px;
    padding: 8px 16px 8px 12px;
    background-color: var(--green);
    border: none;
    border-radius: 10px;
    color: var(--white);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
}

.add-option-btn > img{
    margin-right: 12px;
}

.button-wrapper{
    column-gap: 64px;
    margin-top: 24px;
    margin-bottom: 32px;
}

.button-wrapper > button{
    border-radius: 10px;
    border: 2px solid var(--black);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
}

.button-wrapper > button:hover{
    border: 2px solid var(--black);
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16), 0px 3px 6px 0px rgba(0, 0, 0, 0.23);
}

.add-more-page-btn{
    padding: 12px;
}

.add-more-page-btn > img{
    margin-right: 8px;
}

.submit-btn{
    padding: 12px 32px;
}