#wrapper{
    min-height: 75vh;
}

/* TOP */
.top{
    position: relative;
    width: 100%;
    padding: 24px 48px 64px 48px;
}

.back{
    position: absolute;
    z-index: 10;
    text-decoration: none;
}

.back svg{
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.back span{
    color: #AEAEAE;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
}

.progress-wrapper{
    z-index: 1;
    position: relative;
}

.progress-wrapper span{
    color: var(--black);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    margin-right: 32px;
}

.progress-bar-container{
    width: 70%;
    height: 8px;
    border-radius: 5px;
    background-color: var(--gray);
}

.progress-bar{
    width: 30%;
    height: 8px;
    border-radius: 5px;
    background-color: var(--green);
}

/* CONTENT */
.content-wrapper{
    padding: 0px 18%;
}

.content-wrapper img{
    width: 300px;
}

.content-wrapper p{
    margin-top: 24px;
    margin-bottom: 64px;
}

.content-wrapper button{
    padding: 12px 64px;
    border-radius: 10px;
    background-color: var(--green);
    border: none;
    color: var(--White, #FFF);
    font-size: 16px;
    font-family: Manrope;
    font-weight: 700;
}

.content-wrapper button:hover{
    transform: scale(1.05);
    transition: 0.3s ease;
}