#wrapper{
    min-height: 75vh;
}

/* TOP */
.top{
    position: relative;
    width: 100%;
    padding: 24px 48px 64px 48px;
}

.back{
    position: absolute;
    z-index: 10;
    text-decoration: none;
}

.back svg{
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.back span{
    color: #AEAEAE;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
}

.progress-wrapper{
    z-index: 1;
    position: relative;
}

.progress-wrapper span{
    color: var(--black);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    margin-right: 32px;
}

.progress-bar-container{
    width: 70%;
    height: 8px;
    border-radius: 5px;
    background-color: var(--gray);
}

.progress-bar{
    width: 30%;
    height: 8px;
    border-radius: 5px;
    background-color: var(--green);
}

/* CONTENT */
.content-wrapper{
    padding: 0px 18%;
}

.content-wrapper img{
    width: 300px;
}

.content-wrapper p{
    margin-top: 24px;
    margin-bottom: 64px;
}

.content-wrapper button{
    padding: 12px 64px;
    border-radius: 10px;
    background-color: var(--green);
    border: none;
    color: var(--White, #FFF);
    font-size: 16px;
    font-family: Manrope;
    font-weight: 700;
}

.content-wrapper button:hover{
    transform: scale(1.05);
    transition: 0.3s ease;
}

.buttons{
    display: flex;
    gap: 25px;
    padding-top: 35px;
}

.editor-container{
    display: flex;
    flex-direction: column;
    background-color: #263238;
    color: white;
    width: 1000px; 
    position: "relative";
    padding-bottom: 20px;
}

.exam-editor-container{
    display: flex;
    flex-direction: column;
    background-color: #263238;
    color: white;
    width: 1000px; 
    position: "relative";
    padding-bottom: 20px;
}

#php{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    text-shadow: 0px 0px 10px #37A2FF,
    0px 0px 20px #37A2FF,
    0px 0px 30px #37A2FF,
    0px 0px 50px #37A2FF;
    font: Manrope;
    font-weight: bold;
}

#javascript{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    text-shadow: 0px 0px 10px yellow,
    0px 0px 20px yellow,
    0px 0px 30px yellow,
    0px 0px 50px yellow;
    font: Manrope;
    font-weight: bold;
}

#run{
    display: flex;
    height: 55px;
    width: auto;
}

.reset{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    text-align: center;
    color: #37A2FF;
    font: Manrope;
    font-weight: bold;
    width: 60px;
    height: auto;
    background-color:#263238 ;
}



