#navbar{
    transition: top 0.3s;
    position: sticky;
}

.navbar{
    padding: 0px
}

.navbar-wrapper{
    background-color: var(--dark-blue);
    padding: 16px 32px;
    width: 100%;
}

.navbar-brand{
    width: 180px;
    padding: 0px;
    margin-right: 16px;
}

.navbar-brand img{
    width: 100%;
}

.nav-item{
    padding: 0px 8px;
    border-radius: 10px;
}

.nav-item:hover{
    outline: 1px solid var(--white);
    transition: 0.3s ease;
}

.nav-link{
    color: var(--white);
    font-family: poppins;
    font-size: 16px;
    font-weight: 400;
}

.nav-link:hover{
    color: var(--white);
}

.navbar-nav{
    column-gap: 16px;
}

.login{
    outline: 1px solid var(--white);
}

.login:hover{
    outline: 2px solid var(--white);
    transition: 0.2s ease;
}

.sign-up{
    background-color: var(--green);
}
