.basic-button {
    opacity: 0.8;
    text-align: center;
    color: white;
    font-size: 22px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word;
    background-color: #14A098;
    border-radius: 12px;
    padding: 20px 40px; 
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    max-width: 574px;
    transition: background-color 0.3s ease, opacity 0.3s ease;  
}

.basic-button:hover {
    opacity: 1;
    background-color: #17B2A7;
}

.sidebar {
    width: 280px;
    background-color: #333;
    color: white;
    height: 100vh;
    padding-top: 20px;
    position: fixed;
    left: 0;
}

.sidebar h2 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    padding: 15px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #575757;
    padding-left: 10px;
}

.content{
    margin-left: 270px;
    padding: 20px;
    width: 100%;
}

.code{
    color: white; 
    font-family: Black Future; 
    font-style: italic; 
    font-weight: 400;
}

.guard{
    color: #D3BF76; 
    font-family: Black Future; 
    font-style: italic; 
    font-weight: 400;
}

