{% extends 'base.html' %}

{% block title %}Course Catalogue{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/user_dashboard.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/navbar.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/footer.css') }}">
{% endblock %}

{% block content %}

<!-- NAVBAR -->

<!-- CONTENT -->
<div id="content">

    <!-- TITLE -->
    <div class="background"></div>
    <div class="title-decor">
        <h1>Welcome, <span>{{ username }}</span> !</h1>
    </div>

    <!-- COURSES -->
    <div class="wrapper-outside">
        <div class="wrapper-inside">
            <div class="recent-courses">
                <div class="title">
                    <h1>Recent Courses</h1>
                </div>
                <div class="course-wrapper d-flex justify-content-center flex-wrap">
                    <a href="{{ url_for('courses.details') }}" class="course-links">
                        <div class="course">
                            <div class="course-img d-flex justify-content-center align-items-center">
                                <img src="{{ url_for('static', filename='assets/php-logo.svg') }}" alt="">
                            </div>
                            <div class="course-name">
                                <p>PHP</p>
                            </div>
                        </div>
                    </a>
                    <div class="course">
                        <div class="course-img d-flex justify-content-center align-items-center">
                            <img src="{{ url_for('static', filename='assets/php-logo.svg') }}" alt="">
                        </div>
                        <div class="course-name">
                            <p>PHP</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="course-catalogue">
                <div class="title catalogue-title">
                    <h1>Course Catalogue</h1>
                </div>
                <div class="course-wrapper d-flex justify-content-center flex-wrap">
                    <a href="" class="course-links"> <!-- href to all available courses -->
                        <div class="course">
                            <div class="course-img d-flex justify-content-center align-items-center">
                                <img src="{{ url_for('static', filename='assets/php-logo.svg') }}" alt="">
                            </div>
                            <div class="course-name">
                                <p>PHP</p>
                            </div>
                        </div>
                    </a>

                    <div class="course">
                        <div class="course-img d-flex justify-content-center align-items-center">
                            <img src="{{ url_for('static', filename='assets/php-logo.svg') }}" alt="">
                        </div>
                        <div class="course-name">
                            <p>PHP</p>
                        </div>
                    </div>
                    <div class="course">
                        <div class="course-img d-flex justify-content-center align-items-center">
                            <img src="{{ url_for('static', filename='assets/php-logo.svg') }}" alt="">
                        </div>
                        <div class="course-name">
                            <p>PHP</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}