{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/profile.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/navbar.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/footer.css') }}">
<script src="{{ url_for('static', filename='js/profile.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/navbar.js') }}" defer></script>
{% endblock %}

{% block content %}
<div class="profile-container position-relative">
    <h1 class="position-absolute title">Profile Information</h1>
    
    <div class="content-wrapper">
        <div class="form-wrapper d-flex flex-column col-md-8">
            <form action="{{ url_for('user.update') }}" class="form-profile">
                <div class="profile-details d-flex flex-wrap">
                    <div class="detail">
                        <label for="fullname" class="d-block">Full Name</label>
                        <input type="text" value="{{ fullname }}" id="fullname" name="fullname" class="d-block" required>
                    </div>
                    <div class="detail">
                        <label for="username" class="d-block">Username</label>
                        <input type="text" value="{{ username }}" id="username" name="username" class="d-block" required>
                    </div>
                    <div class="detail">
                        <label for="email" class="d-block">Email</label>
                        <input type="text" value="{{ email }}" id="email" name="email" class="d-block" required>
                    </div>
                    <div class="detail">
                        <label class="d-block">Registration Date</label>
                        <p aria-readonly="true">{{ regis_date.strftime('%d/%m/%Y') }}</p>
                    </div>
                </div>
                <button type="submit" class="btn save-btn" disabled>Save Changes</button>
            </form>
    
            <form action="{{ url_for('user.update') }}" class="form-password">
                <h1 class="change-password">Change Password</h1>
                <div class="password-details d-flex flex-column">
                    <div class="pw">
                        <label for="old-pw">Old Password</label>
                        <div class="input-wrapper position-relative">
                            <input type="password" id="old-pw" name="old-pw" required>
                            <img src="{{ url_for('static', filename='assets/icon_eyeclose.svg') }}" alt="" class="eye position-absolute">
                        </div>
                    </div>
                    <div class="pw">
                        <label for="new-pw">New Password</label>
                        <div class="input-wrapper position-relative">
                            <input type="password" id="new-pw" name="new-pw" required>
                            <img src="{{ url_for('static', filename='assets/icon_eyeclose.svg') }}" alt="" class="eye position-absolute">
                        </div>
                    </div>
                    <div class="pw">
                        <label for="confirm-pw">Confirm Password</label>
                        <div class="input-wrapper position-relative">
                            <input type="password" id="confirm-pw" name="confirm-pw" required>
                            <img src="{{ url_for('static', filename='assets/icon_eyeclose.svg') }}" alt="" class="eye position-absolute">
                        </div>
                    </div>
                </div>
                <a href="{{ url_for('auth.forgot_password') }}" class="forgot-password d-block">Forgot password?</a>
                <button type="submit" class="btn">Change Password</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
