{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/profile.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/navbar.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/footer.css') }}">
<script src="{{ url_for('static', filename='js/profile.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/navbar.js') }}" defer></script>
{% endblock %}

{% block content %}
<div class="profile-container position-relative">
    <h1 class="position-absolute title">Profile Information</h1>
    
    <div class="content-wrapper">
        <div class="form-wrapper d-flex flex-column col-md-8">
            <form action="{{ url_for('user.profile') }}" class="form-profile" method="post">
                {{ form.csrf_token() }}
                <div class="profile-details d-flex flex-wrap">
                    <div class="detail">
                        {{ form.fullname.label(class="d-block") }}
                        {{ form.fullname(class="d-block") }}
                    </div>
                    <div class="detail">
                        {{ form.username.label(class="d-block") }}
                        {{ form.username(class="d-block") }}
                    </div>
                    <div class="detail">
                        {{ form.email.label(class="d-block") }}
                        {{ form.email(class="d-block") }}
                    </div>
                    <div class="detail">
                        <label class="d-block">Registration Date</label>
                        <p aria-readonly="true">{{ regis_date.strftime('%d/%m/%Y') }}</p>
                    </div>
                </div>
                <button type="submit" class="btn save-btn" disabled>Save Changes</button>
            </form>
    
            {% with form_pw = Forms.profile.UpdatePasswordForm() %}
            <form action="{{ url_for('user.update_pw') }}" class="form-password" method="post">
                {{ form_pw.csrf_token() }}
                <h1 class="change-password">Change Password</h1>
                <div class="password-details d-flex flex-column">
                    <div class="pw">
                        {{ form_pw.old_password.label }}
                        <div class="input-wrapper position-relative">
                             {{ form_pw.old_password }}
                            <img src="{{ url_for('static', filename='assets/icon_eyeclose.svg') }}" alt="" class="eye position-absolute">
                        </div>
                    </div>
                    <div class="pw">
                        {{ form_pw.new_password.label }}
                        <div class="input-wrapper position-relative">
                            {{ form_pw.new_password }}
                            <img src="{{ url_for('static', filename='assets/icon_eyeclose.svg') }}" alt="" class="eye position-absolute">
                        </div>
                    </div>
                    <div class="pw">
                        {{ form_pw.rpt_password.label }}
                        <div class="input-wrapper position-relative">
                            {{ form_pw.rpt_password }}
                            <img src="{{ url_for('static', filename='assets/icon_eyeclose.svg') }}" alt="" class="eye position-absolute">
                        </div>
                    </div>
                </div>
                <a href="{{ url_for('auth.forgot_password') }}" class="forgot-password d-block">Forgot password?</a>
                <button type="submit" class="btn">Change Password</button>
            </form>
            {% endwith %}
        </div>
    </div>
</div>

{% endblock %}
