{% extends 'base.html' %}

{% block title %}{{course_name}} Exam{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/challenge_exam.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/navbar.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/footer.css') }}">
<script src="{{ url_for('static', filename='js/cm6.bundle.js') }}"></script>
<script src="{{ url_for('static', filename='js/exam.js') }}"></script>
{% endblock %}

{% block content %}
<div class="modal fade" id="submitModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirmLabel">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body d-flex flex-column justify-content-center align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
                </svg>
            </div>
            <p class="text-center">Are you sure you want to submit?</p>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" id="btnSubmit" class="btn btn-success btn-confirm">
                    <span id="btnSubmitText">Submit</span>
                    <span class="spinner-border spinner-border-sm disabled" aria-hidden="true"></span>
                    <span class="disabled" role="status">Loading...</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="toast-container position-fixed top-0 end-0 p-3">

</div>

<div id="wrapper" class="d-flex flex-column align-items-center">
    <!-- top content -->
    <section class="top align-self-stretched d-flex">
        <a class="back d-flex align-items-center flex-shrink-0" href="{{ url_for('courses.details', course_name=course_name|urlencode|replace('/', '%2F')) }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M7.825 13L13.425 18.6L12 20L4 12L12 4L13.425 5.4L7.825 11H20V13H7.825Z" fill="#AEAEAE" />
            </svg>
            <span>Back</span>
        </a>


        <div class="progress-wrapper container-fluid d-flex align-items-center">
            <span class="">Progress</span>
            <div class="progress-bar-container">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>

        <div class="timer d-flex align-items-center">
            <img src="{{ url_for('static', filename='assets/icon_timer.svg') }}" alt="">
            <span id="timerDisplay"></span>
        </div>
    </section>

    <!-- CONTENT -->
    <section class="content-wrapper d-flex align-items-center flex-column flex-grow-1">
        <h1 class="exam-title fst-italic">{{course_name}} EXAM!</h1>
        <p>{{ question }}
        </p>
        <div class="notes">
            Notes:
            <ul>
                <li>Berikan jawaban pada bagian yang diberi comment //todo saja!</li>
                <li>Jawaban tidak dibatasi dengan nama value tertentu!</li>
                <li>Jangan kosongkan jawaban!</li>
                <li>Simpan kode dengan <strong>Ctrl+S</strong> atau <strong>Cmd+S</strong>!</li>
            </ul>
        </div>
        <div id="editor">
            <button class="reset-code d-flex align-items-center">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M14 9.99998V8.00002L17.7452 7.99988C16.4803 6.18647 14.3787 5.00002 12 5.00002C8.13398 5.00002 5.00002 8.13398 5.00002 12C5.00002 15.866 8.13398 19 12 19C15.5719 19 18.519 16.3246 18.9466 12.8684L20.9314 13.1165C20.3816 17.5602 16.5925 21 12 21C7.02942 21 3 16.9706 3 12C3 7.02942 7.02942 3 12 3C14.8273 3 17.3501 4.30373 19.0001 6.3428L19 3H21V9.99998H14Z" fill="#0F292F"/>
                </svg>                    
                <span id="reset">Reset Code</span>
            </button>
        </div>
        
    </section>

    <div class="btn-wrapper d-flex gap-5 container m-5 justify-content-center">
        <button class="col-md-2 button btn-submit active" data-bs-toggle="modal" data-bs-target="#submitModal" >Submit</button>
    </div>
</div>
<script>
    const statusURL = "{{ url_for('courses.exam_status', course_name=course_name|urlencode|replace('/', '%2F')) }}";
    const baseURL = "{{ url_for('courses.exam', course_name=course_name|urlencode|replace('/', '%2F')) }}";

</script>
{% endblock %}