{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/register.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/navbar.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/footer.css') }}">
<script src="{{ url_for('static', filename='js/register.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/navbar.js') }}" defer></script>
{% endblock %}

{% block content %}

<body>
    <div class="wrapper container-fluid p-0 d-flex">
        <div class="left-wrapper">
            <div class="left">
                <div class="title poppins-thin">
                    <h1>Welcome to CodeGuard</h1>
                    <p>Already have an account? Log in <a href="{{url_for('auth.login')}}">here</a></p>
                </div>
                {% with form = Forms.auth.RegisterForm() %}
                <form action="" class="d-flex flex-column" method="POST">
                    {{ form.csrf_token() }}
                    <div>
                        {{ form.email.label(class="form-label") }}
                        {{ form.email(class="form-control", id="email") }}
                        <!-- <label for="email" class="form-label">Email</label>
                        <input id="email" type="email" class="form-control" placeholder="Please enter your email" required> -->
                        <span id="emailError" class="error-message"></span>
                    </div>
                    <div>
                        {{ form.fullname.label(class="form-label") }}
                        {{ form.fullname(class="form-control", id="fullname") }}
                        <!-- <label for="fullname" class="form-label">Full Name</label>
                        <input id="fullname" type="text" class="form-control" placeholder="Please enter your full name" required> -->
                        <span id="fullnameError" class="error-message"></span>
                    </div>
                    <div>
                        {{ form.username.label(class="form-label") }}
                        {{ form.username(class="form-control", id="username") }}
                        <!-- <label for="username" class="form-label">Username</label>
                        <input id="username" type="text" class="form-control" placeholder="Please enter your username" required> -->
                        <span id="usernameError" class="error-message"></span>
                    </div>
                    <div>
                        {{ form.password.label(class="form-label") }}
                        {{ form.password(class="form-control", id="password") }}
                        <!-- <label for="password" class="form-label">Password</label>
                        <input id="password" type="password" class="form-control" placeholder="Please enter your password" required> -->
                        <span id="passwordError" class="error-message"></span>
                    </div>
                    <div>
                        {{ form.rpt_password.label(class="form-label") }}
                        {{ form.rpt_password(class="form-control",id="rpt_password") }}
                        <!-- <label for="rpt_password" class="form-label">Repeat your password</label>
                        <input id="rpt_password" type="password" class="form-control" placeholder="Please re-enter your password" required> -->
                        <span id="rpt_passwordError" class="error-message"></span>
                    </div>
                    <button id="button" class="btn rounded-pill">Create an account</button>
                </form>
                {% endwith %}
            </div> 
        </div>
        <div class="right-wrapper d-flex justify-content-center align-items-center">
            <div class="logo-wrapper">
                <img src="{{ url_for('static',filename='assets/LogoCodeGuard.svg') }}" alt="Logo">
            </div>
        </div>
    </div>
</body>
{% endblock %}