.content{
    height: calc(100vh - 48px);
    padding: 32px 64px 32px 344px;
    overflow-y: scroll;
}

.course-details{
    row-gap: 24px;
    padding-bottom: 24px;
    margin-bottom: 24px;
}

.title{
    border-bottom: 1px solid black;
}

.title h1{
    font-family: Manrope;
    font-size: 32px;
    font-weight: 700;
    margin: 0px;
}

.warning-msg{
    color: var(--red);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
}

.module{
    background-color: var(--super-light-green);
    padding: 16px;
    border-radius: 5px;
    border: 1px solid rgba(15, 41, 47, 0.50);
    width: 100%;
}

.module > input {
    flex: 1;
    width: auto;
}

.module > label{
    margin-right: 48px;
    margin-bottom: 0px;
}

label, input, textarea, select, .filename, .content-type{
    font-family: Poppins;
    font-size: 16px;
}

label{
    display: block;
    margin-bottom: 4px;
    font-weight: 500;
}

input, .input-file, textarea, select, .content-type {
    border-radius: 5px;
    background-color: var(--medium-light-green);
    border: none;
    font-weight: 400;
    margin-bottom: 0px;
}

input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 30px var(--medium-light-green) inset !important;
}

.content-type{
    padding: 8px 12px;
    font-weight: 400;
    width: 50%;
}

.content-type:focus{
    outline: none;
}

.content-type:hover{
    cursor: no-drop;
}

/* #course-title:-webkit-autofill {
    background-color: var(--medium-light-green) !important;
} */

input, textarea{
    width: 100%;
    padding: 8px;
}

textarea{
    margin-bottom: -5px;
}

.input-file{
    padding: 6px 16px 6px 12px;
    width: fit-content;
    display: inline-block;
}

input:focus{
    outline: 2px solid var(--dark-blue);
    box-shadow: none;
}

.input-file img{
    margin-right: 4px;
}

#course-logo, .input-file-invi {
    opacity: 0;
    position: absolute;
    z-index: -1;
    width: 1px;
    bottom: 0;
    left: 0;
}

.preview{
    display: none;
    max-width: 300px;
    margin-top: 8px;
}

.notice{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    color: var(--red);
    margin-bottom: 4px;
}

.filename{
    margin-left: 8px;
    display: inline-block;
    max-width: calc(100% - 140px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

select {
    padding: 8px 120px 8px 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("../assets/icon_dropdown.svg");
    background-repeat: no-repeat;
    background-position-x: calc(100% - 8px);
    background-position-y: 50%;
}

.error-message{
    color: red;
    margin: 0px;
    display: none;
    font-size: 16px;
    font-family: Poppins;
}

.course-details button{
    padding: 12px 32px;
    width: fit-content;
}

/* COURSE CONTENT */
.course-content{
    row-gap: 24px;
}

.page{
    background-color: var(--super-light-green);
    border-radius: 5px;
    border: 1px solid rgba(15, 41, 47, 0.50);
}

.accordion{
    padding: 16px 16px 8px 16px;
    border-bottom: 1px solid rgba(15, 41, 47, 0.30);
    color: var(--black);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    margin: 0px;
    transition: padding-bottom 0.3s, border-bottom 0.2s 0.5s;
}

.rotate{
    transition: transform 0.3s ease;
    transform: rotate(180deg);
}

.accordion > button{
    padding: 0px;
    border: none;
    background-color: transparent;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
}

.accordion > button:nth-child(2){
    rotate: 180deg;
}

.panel{
    padding: 16px;
    row-gap: 16px;
    display: flex;
    flex-direction: column;
    max-height: 1000px;
    overflow: hidden;
    transition: max-height 0.5s ease 0.2s, padding 0.5s ease;
}

.close{
    max-height: 0px;
    padding: 0px 16px;
}

.border-bottom-none{
    border-bottom: none;
    padding: 16px;
}

.type > label, .timer > label {
    margin-right: 32px;
    margin-bottom: 0px;
}

.timer > input{
    width: fit-content;
}

.course-details div:last-child{
    column-gap: 64px;
}


/* CODE PLAYGROUND */
.code-playground{
    background-color: var(--dark-blue);
    padding: 40px 12px 64px 12px;
    border-radius: 5px;
    position: relative;
}

.code-area{
    background-color: transparent;
    color: var(--white);
}

.code-playground span{
    color: var(--blue);
    font-family: Manrope;
    font-size: 16px;
    font-weight: 800;
}

.language-span{
    position: absolute;
    top: 12px;
    right: 12px;
}

.run-code{
    position: absolute;
    bottom: 12px;
    right: 12px;
    background-color: transparent;
    border: none;
}

.run-code img{
    margin-left: 8px;
}

.radio-option{
    display: flex;
    padding: 8px;
    border-radius: 5px;
}

.radio-option > input{
    width: fit-content;
    margin-right: 8px;
}

.radio-option > input:focus{
    outline: none;
}

.radio-option:hover{
    outline: 1px solid var(--medium-light-green);
}

.radio-option > label{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0px;
}

.radio-option > img{
    margin-left: auto;
    visibility: hidden;
    opacity: 0;
}

.radio-option:hover img{
    visibility: visible;
    opacity: 1;
    cursor: pointer;
}

/* .radio-option ul{
    margin: 0;
    display: flex;
    padding: 8px;
    border-radius: 5px;
}

.radio-option li{
    list-style: none;
} */

.add-option-btn{
    margin-top: 8px;
    padding: 8px 16px 8px 12px;
    background-color: var(--green);
    border: none;
    border-radius: 10px;
    color: var(--white);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
}

.add-option-btn > img{
    margin-right: 12px;
}

.button-wrapper{
    column-gap: 32px;
    margin-top: 24px;
    margin-bottom: 48px;
}

.course-details button, .button-wrapper > button{
    border-radius: 10px;
    border: 2px solid var(--black);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    background-color: transparent;
}

.course-details button:hover, .button-wrapper > button:hover{
    border: 2px solid var(--black);
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16), 0px 3px 6px 0px rgba(0, 0, 0, 0.23);
}

.type-timer-wrapper{
    column-gap: 64px;
}

.type-timer-wrapper > .type > input{
    width: auto;
}

.add-more-page-btn, #add-module-btn{
    padding: 12px;
}

.add-more-page-btn > img{
    margin-right: 8px;
}

.add-page-options{
    background-color: var(--dark-blue);
    border-radius: 5px;
    flex-direction: column;
    align-items: start;
    padding: 8px 0px;
    position: absolute;
    left: calc(50% - 92px);
    bottom: 0;
}

.add-page-options p{
    width: 100%;
    margin: 0px;
    padding: 4px 8px;
}

.add-page-options p:hover{
    background-color: rgb(20, 160, 152, 0.3);
    transition: 0.3s ease;
}

.add-page-options button{
    background-color: transparent;
    border: none;
    color: var(--white);
}

.submit-btn{
    padding: 12px 32px;
}

#error-message{
    text-align: center;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 500;
    color: var(--red);
    display: none;
    margin: 0;
}

.a-tag{
    color: var(--black);
}