#wrapper{
    min-height: 75vh;
}

/* TOP */
.top{
    position: relative;
    width: 100%;
    padding: 24px 48px 64px 48px;
}

.back{
    position: absolute;
    z-index: 10;
    text-decoration: none;
}

.back svg{
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.back span{
    color: #AEAEAE;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
}

.progress-wrapper{
    z-index: 2;
    position: relative;
}

.progress-wrapper span{
    color: var(--black);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    margin-right: 32px;
}

.progress-bar-container{
    width: 65%;
    height: 8px;
    border-radius: 5px;
    background-color: var(--gray);
}

.progress-bar{
    width: 30%;
    height: 8px;
    border-radius: 5px;
    background-color: var(--green);
}

.timer{
    position: absolute;
    z-index: 1;
    right: 48px;
    top: 20px;
    column-gap: 4px;
}

.timer span{
    color: var(--red);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
}

/* CONTENT */
.content-wrapper{
    padding: 0px 18%;
}

.content-wrapper p{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin: 0px;
}

/* CODE PLAYGROUND */
.code-playground{
    background-color: var(--dark-blue);
    padding: 40px 12px 64px 12px;
    border-radius: 5px;
    margin-top: 32px;
    position: relative;
}

.code-playground p{
    color: var(--white);
}

.code-playground span{
    color: var(--blue);
    font-family: Manrope;
    font-size: 16px;
    font-weight: 800;
}

.language-span{
    position: absolute;
    top: 12px;
    right: 12px;
}

.reset-code, .run-code{
    background-color: transparent;
    border: none;
    padding: 0px;
}

.reset-code{
    position: absolute;
    bottom: 12px;
    left: 12px;
}

.reset-code span{
    color: var(--gray);
    margin-left: 8px;
}

.run-code{
    position: absolute;
    bottom: 12px;
    right: 12px;
}

.run-code img{
    margin-left: 8px;
}

/* RADIO */
.radio-button label{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    margin-left: 8px;
}

.radio-button input{
    margin-top: 8px;
}

.radio-button input:first-child{
    margin-top: 32px;
}

/* BUTTON */
.btn-wrapper{
    margin: 0px auto;
    margin-top: 64px;
}

.button{
    width: 160px;
    padding: 12px 0px;
    border-radius: 10px;
    border: none;
    color: var(--White, #FFF);
    font-size: 16px;
    font-family: Manrope;
    font-weight: 700;
}

.button:hover{
    transform: scale(1.05);
    transition: 0.3s ease;
}

.btn-previous{
    background-color: var(--dark-blue);
    margin-right: 160px;
}

.btn-next{
    background-color: var(--gray);
}

.active{
    background-color: var(--green);
}