{% extends 'base.html' %}

{% block title %}Add New Course{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/admin_course.css') }}">
<script src="{{ url_for('static', filename='js/admin_course_content.js') }}" defer></script>
{% endblock %}

{% block content %}

{% include "navbar_footer_admin.html" ignore missing %}
<div class="content">
    <form action="" class="course-content d-flex flex-column">
        <div class="title">
            <h1>Course Contents</h1>
        </div>
    
        <!-- LEARNING -->
        <div class="page">
            <p class="d-flex accordion">Page 1
                <button type="button" class="ms-auto icon-trash"><img src="{{ url_for('static', filename='assets/icon_trash.svg') }}" alt=""></button>
                <button type="button" class="up"><img src="{{ url_for('static', filename='assets/icon_arrowupdown.svg') }}" alt=""></button>
                <button type="button" class="down"><img src="{{ url_for('static', filename='assets/icon_arrowupdown.svg') }}" alt=""></button>
                <img src="{{ url_for('static', filename='assets/icon_dropdown.svg') }}" alt="" class="dropdown-icon">
            </p>
            <div class="panel">
                <div class="type">
                    <label for="learning-1" class="d-inline-block">Type</label>
                    <input type="text" id="learning-1" class="content-type d-inline-block" value="Learning" readonly>
                </div>
                <div class="learning-pic position-relative">
                    <label for="learning-pic_1">Picture</label>
                    <label for="learning-pic_1" class="input-file">
                        <img src="{{ url_for('static', filename='assets/icon_upload.svg') }}" alt="">
                        Add File
                    </label>
                    <span class="filename">No file chosen</span>
                    <input type="file" id="learning-pic_1" class="input-file-invi" accept=".jpg, .jpeg, .png, .svg" required>
                    <p class="error-message error-course-logo">Error</p>
                    <img id="" src="#" alt="Your image" class="preview">
                </div>
                <div class="content-learning">
                    <label for="content-learning-1">Content</label>
                    <textarea id="content-learning-1" rows="4"
                        placeholder="Enter learning content here..." required></textarea>
                </div>
            </div>
        </div>
    
        <!-- CHALLENGE CODE -->
        <div class="page">
            <p class="d-flex accordion">Page 2
                <button type="button" class="ms-auto icon-trash"><img src="{{ url_for('static', filename='assets/icon_trash.svg') }}" alt=""></button>
                <button type="button" class="up"><img src="{{ url_for('static', filename='assets/icon_arrowupdown.svg') }}" alt=""></button>
                <button type="button" class="down"><img src="{{ url_for('static', filename='assets/icon_arrowupdown.svg') }}" alt=""></button>
                <img src="{{ url_for('static', filename='assets/icon_dropdown.svg') }}" alt="" class="dropdown-icon">
            </p>
            <div class="panel">
                <div class="type">
                    <label for="challenge-code-1" class="d-inline-block">Type</label>
                    <input type="text" id="challenge-code-1" class="content-type d-inline-block" value="Challenge Code" readonly>
                </div>
                <div class="question">
                    <label for="content-question-2">Question</label>
                    <textarea id="content-question-2" rows="2" placeholder="Enter challenge question here..." required></textarea>
                </div>
                <div class="code">
                    <label for="code-area-2">Code</label>
                    <div class="code-playground">
                        <textarea class="code-area" id="code-area-2" rows="10"
                            placeholder="Enter challenge code here..." required></textarea>
                        <span class="language-span">PHP</span>
                        <button class="run-code d-flex align-items-center">
                            <span>RUN</span>
                            <img src="{{ url_for('static', filename='assets/icon_run.svg') }}" alt="">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- CHALLENGE OPTION -->
        <div class="page">
            <p class="d-flex accordion">Page 3
                <button type="button" class="ms-auto icon-trash"><img src="{{ url_for('static', filename='assets/icon_trash.svg') }}" alt=""></button>
                <button type="button" class="up"><img src="{{ url_for('static', filename='assets/icon_arrowupdown.svg') }}" alt=""></button>
                <button type="button" class="down"><img src="{{ url_for('static', filename='assets/icon_arrowupdown.svg') }}" alt=""></button>
                <img src="{{ url_for('static', filename='assets/icon_dropdown.svg') }}" alt="" class="dropdown-icon">
            </p>
            <div class="panel">
                <div class="type">
                    <label for="" class="d-inline-block">Type</label>
                    <input type="text" id="challenge-option-1" class="content-type d-inline-block" value="Challenge Option" readonly>
                </div>
                <div class="question">
                    <label for="content-question-3">Question</label>
                    <textarea id="content-question-3" rows="2" placeholder="Enter challenge question here..." required></textarea>
                </div>
                <div>
                    <label for="code-area-3">Code</label>
                    <div class="code-playground">
                        <textarea class="code-area" id="code-area-3" rows="10"
                            placeholder="Enter challenge code here..." required></textarea>
                        <span class="language-span">PHP</span>
                        <button class="run-code d-flex align-items-center">
                            <span>RUN</span>
                            <img src="{{ url_for('static', filename='assets/icon_run.svg') }}" alt="">
                        </button>
                    </div>
                </div>
                <div>
                    <label for="">Options</label>
                    <div class="radio-option">
                        <input type="radio" id="option-3-1" name="option-3" value="Option 1" required>
                        <label for="option-3-1" contenteditable="true">Option 1</label>
                        <img src="{{ url_for('static', filename='assets/icon_exit.svg') }}" alt="">
                    </div>
                    <div class="radio-option">
                        <input type="radio" id="option-3-2" name="option-3" value="Option 2">
                        <label for="option-3-2" contenteditable="true">Option 2</label>
                        <img src="{{ url_for('static', filename='assets/icon_exit.svg') }}" alt="">
                    </div>
                    <div class="radio-option">
                        <input type="radio" id="option-3-3" name="option-3" value="Option 3">
                        <label for="option-3-3" contenteditable="true">Option 3</label>
                        <img src="{{ url_for('static', filename='assets/icon_exit.svg') }}" alt="">
                    </div>
                    <button id="add-option-btn"><img src="{{ url_for('static', filename='assets/icon_add_circle.svg') }}"
                            alt="">Add Option</button>
                </div>
            </div>
        </div>
    
        <div class="button-wrapper d-flex justify-content-center position-relative">
            <button type="button" class="btn d-flex add-more-page-btn"><img src="{{ url_for('static', filename='assets/icon_plus.svg') }}"
                    alt="">Add more page</button>
            <div class="add-page-options d-none">
                <p id="learning-option"><button type="button">Learning</button></p>
                <p id="challenge-code-option"><button type="button">Challenge Code</button></p>
                <p id="challenge-option-option"><button type="button">Challenge Option</button></p>
            </div>
            <button class="btn submit-btn" type="submit">Submit</button>
        </div>

        
    </form>
</div>

{% endblock %}