{% extends 'base.html' %}

{% block title %}Add New Course{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/admin_add_course.css') }}">
<script src="{{ url_for('static', filename='js/admin_dashboard.js') }}" defer></script>
{% endblock %}

{% block content %}

{% include "navbar_footer_admin.html" ignore missing %}
<div class="content">
    <form action="">
        <div class="course-details d-flex flex-column">
            <div class="title">
                <h1>Course Details</h1>
            </div>
            <div class="details-wrapper d-flex">
                <div class="detail col-md-6">
                    <label for="course-title">Title</label>
                    <input type="text" name="course-title" id="course-title" placeholder="Enter course title">
                    <p class="error-message">Error</p>
                </div>
                <div class="detail col-md-6 ps-5">
                    <label for="course-logo">Logo</label>
                    <label for="course-logo" class="input-file">
                        <img src="{{ url_for('static', filename='assets/icon_upload.svg') }}" alt="">
                        Add File
                    </label>
                    <input type="file" name="course-logo" id="course-logo">
                    <p class="error-message">Error</p>
                </div>
            </div>
            <div class="detail">
                <label for="desc">Description</label>
                <textarea name="desc" id="desc" rows="4" placeholder="Enter course description"></textarea>
                <p class="error-message">Error</p>
            </div>
            <div class="detail">
                <label for="visibility">Visibility</label>
                <select name="visibility" id="visibility">
                    <option value="">Manage Visibility</option>
                    <option value="public">Public</option>
                    <option value="private">Private</option>
                </select>
                <p class="error-message">Error</p>
            </div>
        </div>

        <div class="course-content d-flex flex-column">
            <div class="title">
                <h1>Course Contents</h1>
            </div>

            <!-- CHALLENGE CODE -->
            <div class="page">
                <p class="d-flex">Page 2<img src="{{ url_for('static', filename='assets/icon_dropdown.svg') }}" alt="" class="ms-auto"></p>
                <div class="panel d-flex flex-column">
                    <div class="type">
                        <label for="content-type" class="d-inline-block">Type</label>
                        <select name="content-type" id="content-type">
                            <option value="Learning">Learning</option>
                            <option value="Challenge Code">Challenge Code</option>
                            <option value="Challenge Option">Challenge Option</option>
                        </select>
                    </div>
                    <div class="question">
                        <label for="content-question">Question</label>
                        <input type="text">
                    </div>
                    <div class="code-playground">
                        asdad
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}