{% extends 'base.html' %}

{% block title %}Admin Dashboard{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
<script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
{% endblock %}

{% block content %}

    <div class="sidebar">
        <!-- Logo  -->
        <div style="position: absolute; top: 9px; left: 500px;">
            <img src="{{ url_for('static', filename='NewCOdeGuard.png') }}" style="width: 66.61px; height: 82.44px" />
            <div style="width: 461px; height: 49px;">
                <span class="code">Code</span>
                <span  class="guard">Guard</span>
            </div>
        </div>
        <!-- side panel -->
        <ul>
            <li><a href="#dashboard">Dashboard</a></li>
            <li><a href="#users">Manage Users</a></li>
            <li><a href="#products">Products</a></li>
            <li><a href="#orders">Orders</a></li>
            <li><a href="#reports">Reports</a></li>
            <li><a href="#settings">Settings</a></li>
            <li><a href="#logout">Logout</a></li>
        </ul>
    </div>

    <div class="content">
        <!-- Main content goes here -->
        <h1>Main Content</h1>
    </div>

{% endblock %}