{% extends 'base.html' %}

{% block title %}Add New Course{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/admin_course_detail.css') }}">
<script src="{{ url_for('static', filename='js/admin_course_detail.js') }}" defer></script>
{% endblock %}

{% block content %}

{% include "navbar_footer_admin.html" ignore missing %}
<div class="content">
    <form action="" class="course-details d-flex flex-column">
        <div class="title">
            <h1>Course Details</h1>
        </div>
        <div class="details-wrapper d-flex">
            <div class="detail col-md-6">
                <label for="course-title">Title</label>
                <input type="text" name="course-title" id="course-title" placeholder="Enter course title here...">
                <p class="error-message">Error</p>
            </div>
            <div class="detail col-md-6 ps-5 position-relative">
                <label for="course-logo">Logo</label>
                <label for="course-logo" class="input-file">
                    <img src="{{ url_for('static', filename='assets/icon_upload.svg') }}" alt="">
                    Add File
                </label>
                <input type="file" name="course-logo" id="course-logo">
                <p class="error-message">Error</p>
            </div>
        </div>
        <div class="detail">
            <label for="desc">Description</label>
            <textarea name="desc" id="desc" rows="4" placeholder="Enter course description here..."></textarea>
            <p class="error-message">Error</p>
        </div>
        <div class="detail">
            <label for="visibility">Visibility</label>
            <select name="visibility" id="visibility">
                <option value="">Manage Visibility</option>
                <option value="public">Public</option>
                <option value="private">Private</option>
            </select>
            <p class="error-message">Error</p>
        </div>
        <div class="d-flex justify-content-center">
            <button>Edit</button>
            <button type="submit">Submit</button>
        </div>
    </form>
    <form action="" class="course-content d-flex flex-column">
        <div class="title">
            <h1>Course Contents</h1>
        </div>
    
        <!-- LEARNING -->
        <div class="page">
            <p class="d-flex accordion">Page 1<img src="{{ url_for('static', filename='assets/icon_dropdown.svg') }}" alt="" class="ms-auto"></p>
            <div class="panel">
                <div class="type">
                    <label for="content-type" class="d-inline-block">Type</label>
                    <select name="content-type" id="content-type">
                        <option value="Learning">Learning</option>
                        <option value="Challenge Code">Challenge Code</option>
                        <option value="Challenge Option">Challenge Option</option>
                    </select>
                </div>
                <div class="position-relative">
                    <label for="learning-pic">Picture</label>
                    <label for="learning-pic" class="input-file">
                        <img src="{{ url_for('static', filename='assets/icon_upload.svg') }}" alt="">
                        Add File
                    </label>
                    <input type="file" name="learning-pic" id="learning-pic">
                </div>
                <div>
                    <label for="content-learning">Content</label>
                    <textarea name="content-learning" id="content-learning" rows="4"
                        placeholder="Enter learning content here..."></textarea>
                </div>
            </div>
        </div>
    
        <!-- CHALLENGE CODE -->
        <div class="page">
            <p class="d-flex accordion">Page 2<img src="{{ url_for('static', filename='assets/icon_dropdown.svg') }}" alt="" class="ms-auto"></p>
            <div class="panel">
                <div class="type">
                    <label for="content-type" class="d-inline-block">Type</label>
                    <select name="content-type" id="content-type">
                        <option value="Learning">Learning</option>
                        <option value="Challenge Code">Challenge Code</option>
                        <option value="Challenge Option">Challenge Option</option>
                    </select>
                </div>
                <div class="question">
                    <label for="content-question">Question</label>
                    <input type="text" name="content-question" id="content-question"
                        placeholder="Enter challenge question here...">
                </div>
                <div>
                    <label for="code-area">Code</label>
                    <div class="code-playground">
                        <textarea class="code-area" name="code-area" id="code-area" rows="10"
                            placeholder="Enter challenge code here..."></textarea>
                        <span class="language-span">PHP</span>
                        <button class="run-code d-flex align-items-center">
                            <span>RUN</span>
                            <img src="{{ url_for('static', filename='assets/icon_run.svg') }}" alt="">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- CHALLENGE OPTION -->
        <div class="page">
            <p class="d-flex accordion">Page 3<img src="{{ url_for('static', filename='assets/icon_dropdown.svg') }}" alt="" class="ms-auto"></p>
            <div class="panel">
                <div class="type">
                    <label for="content-type" class="d-inline-block">Type</label>
                    <select name="content-type" id="content-type">
                        <option value="Learning">Learning</option>
                        <option value="Challenge Code">Challenge Code</option>
                        <option value="Challenge Option">Challenge Option</option>
                    </select>
                </div>
                <div class="question">
                    <label for="content-question">Question</label>
                    <input type="text" name="content-question" id="content-question"
                        placeholder="Enter challenge question here...">
                </div>
                <div>
                    <label for="code-area">Code</label>
                    <div class="code-playground">
                        <textarea class="code-area" name="code-area" id="code-area" rows="10"
                            placeholder="Enter challenge code here..."></textarea>
                        <span class="language-span">PHP</span>
                        <button class="run-code d-flex align-items-center">
                            <span>RUN</span>
                            <img src="{{ url_for('static', filename='assets/icon_run.svg') }}" alt="">
                        </button>
                    </div>
                </div>
                <div>
                    <label for="">Options</label>
                    <div class="radio-option">
                        <input type="radio" id="option-1" name="option" value="Option 1">
                        <label for="option-1" contenteditable="true">Option 1</label>
                        <img src="{{ url_for('static', filename='assets/icon_exit.svg') }}" alt="">
                    </div>
                    <div class="radio-option">
                        <input type="radio" id="option-2" name="option" value="Option 2">
                        <label for="option-2" contenteditable="true">Option 2</label>
                        <img src="{{ url_for('static', filename='assets/icon_exit.svg') }}" alt="">
                    </div>
                    <div class="radio-option">
                        <input type="radio" id="option-3" name="option" value="Option 3">
                        <label for="option-3" contenteditable="true">Option 3</label>
                        <img src="{{ url_for('static', filename='assets/icon_exit.svg') }}" alt="">
                    </div>
                    <button id="add-option-btn"><img src="{{ url_for('static', filename='assets/icon_add_circle.svg') }}"
                            alt="">Add Option</button>
                </div>
            </div>
        </div>
    
        <div class="button-wrapper d-flex justify-content-center">
            <button class="btn d-flex add-more-page-btn"><img src="{{ url_for('static', filename='assets/icon_plus.svg') }}"
                    alt="">Add more page</button>
            <button class="btn submit-btn" type="submit">Submit</button>
        </div>
    </form>
</div>

{% endblock %}