{% extends 'base.html' %}

{% block title %}Challenge Option{% endblock %}
<!-- kalo bisa title block nya itu nama Chapter Coursenya, kayak nama OWASP Top 10 nya -->

{% block header %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/challenge_option.css') }}">
{% endblock %}

{% block content %}

<!-- NAVBAR -->
{% include "navbar.html" ignore missing %}

<div id="wrapper">
    <!-- top content -->
    <section class="top">
        <a href="#" class="back d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M7.825 13L13.425 18.6L12 20L4 12L12 4L13.425 5.4L7.825 11H20V13H7.825Z" fill="#AEAEAE" />
            </svg>
            <span>Back</span>
        </a>

        <div class="progress-wrapper d-flex justify-content-center align-items-center">
            <span>Progress</span>
            <div class="progress-bar-container">
                <div class="progress-bar"></div>
            </div>
        </div>
    </section>

    <!-- CONTENT -->
    <section class="content-wrapper d-flex flex-column">
        <p>Question 1
            <br><br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi cursus orci quis interdum cursus.
        </p>
        <div class="code-playground">
            <p>
                $var = “PHP_is_kewl”<br>
                echo $var
            </p>
            <span class="language-span">PHP</span>
            <button class="reset-code d-flex align-items-center">
                <img src="{{ url_for('static', filename='assets/reload.svg') }}" alt="">
                <span>Reset Code</span>
            </button>
            <button class="run-code d-flex align-items-center">
                <span>RUN</span>
                <img src="{{ url_for('static', filename='assets/run.svg') }}" alt="">
            </button>
        </div>
        <div class="btn-wrapper">
            <button class="button btn-previous">Previous</button>
            <button class="button btn-next active">Next</button>
        </div>
    </section>
</div>
{% include "footer.html" ignore missing %}
{% endblock %}