{% extends 'base.html' %}

{% block title %}Course Details{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/course_details.css') }}">
{% endblock %}

{% block content %}
{% include "navbar.html" ignore missing %}

<!-- CONTENT -->
<div id="content">
    <div class="background"></div>
    <div class="wrapper-outside">
        <div class="wrapper-inside">
            <!-- COURSE TITLE -->
            <div class="title-wrapper">
                <div class="course-img">
                    <img src="{{ url_for('static', filename='assets/php-logo.svg') }}" alt="">
                </div>
                <div class="course-details">
                    <h1 class="course-title">PHP Secure Coding</h1>
                    <p class="course-desc">PHP is a powerful and widely-used server-side scripting language, but its popularity makes it a common target for security threats. This course, based on the OWASP Top 10 2021, focuses on secure coding practices in PHP, teaching you how to prevent vulnerabilities like SQL injection, XSS, and CSRF, and many others.</p>
                </div>
            </div>

            <!-- PROGRESS BAR -->
            <div class="progress-bar-wrapper rounded-pill d-flex align-items-center justify-content-center">
                <span class="">36%</span>
                <div class="progress-bar rounded-pill">
                </div>
            </div>

            <!-- LESSON -->
            <div class="lesson-wrapper d-flex flex-column">
                <!-- lesson done -->
                <div class="lesson learning">
                    <div class="lesson-name">
                        <span>#1</span>
                        <span>Broken Access Control (Lesson Done)</span>
                    </div>
                    <div class="icon d-flex align-items-center justify-content-center">
                          <img src="{{ url_for('static', filename='assets/icon_checkmark.svg')}}" alt="">
                    </div>
                </div>

                <!-- lesson unlocked -->
                <div class="lesson learning">
                    <div class="lesson-name">
                        <span>#2</span>
                        <span>Cryptographic Failures (Lesson Unlocked)</span>
                    </div>
                    <div class="icon d-flex align-items-center justify-content-center">
                        <img src="{{ url_for('static', filename='assets/icon_unlocked.svg') }}" alt="">
                    </div>
                </div>

                <!-- lesson locked -->
                <div class="lesson learning locked">
                    <div class="lesson-name">
                        <span>#3</span>
                        <span>Injection (Lesson Locked)</span>
                    </div>
                    <div class="icon d-flex align-items-center justify-content-center">
                        <img src="{{ url_for('static', filename='assets/icon_locked.svg') }}" alt="">
                    </div>
                </div>
                
                <!-- exam done -->
                <div class="lesson exam">
                    <div class="lesson-name">
                        <span>Take Exam (Exam Done)</span>
                    </div>
                    <div class="icon d-flex align-items-center justify-content-center">
                        <img src="{{ url_for('static', filename='assets/icon_checkmark.svg')}}" alt="">
                    </div>
                </div>

                <!-- exam unlocked -->
                <div class="lesson exam">
                    <div class="lesson-name">
                        <span>Take Exam (Exam Unlocked)</span>
                    </div>
                    <div class="icon d-flex align-items-center justify-content-center">
                          <img src="{{ url_for('static', filename='assets/icon_unlocked.svg') }}" alt="">
                    </div>
                </div>
                
                <!-- exam locked -->
                <div class="lesson exam locked">
                    <div class="lesson-name">
                        <span>Take Exam (Exam Locked)</span>
                    </div>
                    <div class="icon d-flex align-items-center justify-content-center">
                          <img src="{{ url_for('static', filename='assets/icon_locked.svg') }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "footer.html" ignore missing %}
{% endblock %}