{% extends 'base.html' %}

{% block title %}Main Page{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
<script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
{% endblock %}

{% block content %}
<!-- <nav class="d-flex align-items-center flex-row">
    <div class="logo-wrapper">
        <img src="{{ url_for('static',filename='assets/LogoCodeGuard.png') }}" alt="">
    </div>
    <div class="nav-wrapper">
        <ul>
            <li class="nav-list"><a href="">Home</a></li>
            <li class="nav-list"><a href="">Features</a></li>
            <li class="nav-list"><a href="">Courses</a></li>
            <li class="nav-list"><a href="">Contact Us</a></li>
        </ul>
    </div>
    <div class="nav-wrapper">
        <ul>
            <li class="nav-list"><a href="{{url_for('auth.login')}}">Login</a></li>
            <li class="nav-list"><a href="{{url_for('auth.register')}}">Sign Up</a></li>
        </ul>
    </div>
</nav> -->

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="{{ url_for('static',filename='assets/LogoCodeGuard.png') }}" class="d-inline-block align-middle" alt="">
    </a>
</nav>

<h1>ini dari index</h1>
{% endblock %}