{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loginstyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
{% endblock %}

{% block content %}
<body style="background-color: black;">
    <div class="login-Content">
        <!-- Logo -->
        <div style="width: 543px; height: 82.44px; margin: 0 auto 24px; display: flex; align-items: center; justify-content: center;">
            <img src="{{ url_for('static', filename='NewCOdeGuard.png') }}" style="width: 66.61px; height: 82.44px" />
            <div style="display: inline-block; margin-left: 16px; font-size: 64px;">
                <span class="code">Code</span>
                <span class="guard">Guard</span>
            </div>
        </div>

        <!-- Login Form Container -->
        <div style="padding: 40px 133px 112px 134px; background: white; border-radius: 24px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: center; display: flex;">
            <div style="flex-direction: column; justify-content: center; align-items: center; gap: 40px; display: inline-flex">
                <div style="flex-direction: column; justify-content: center; align-items: center; gap: 24px; display: flex">
                    <div class="allFont" style="text-align: center; color: #333333; font-size: 32px;"">Log in</div>
                    <div style="justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
                        <span class="allFont" style="color:#333333">Don’t have an account?</span>
                        <span class="allFont" style="color: #111111; text-decoration: underline;">Sign up</span>
                    </div>
                </div>

                <!-- Form -->
                <form action="{{ url_for('auth.login') }}" method="POST">
                    <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex">
                        
                        <!-- Email -->
                        <div class="input-box">
                            <label for="email" class="allFont" style="color: #666666">Your E-mail</label>
                            <input type="email" id="email" name="email" required style="width: 528px; height: 56px; padding: 12px; border-radius: 12px; border: 1px solid rgba(102, 102, 102, 0.35); font-size: 16px; font-family: Poppins;">
                        </div>

                        <!-- Password -->
                        <div class="input-box">
                            <label for="password" class="allFont" style="color: #666666">Your Password</label>
                            <input type="password" id="password" name="password" required>
                        </div>

                        <!-- Forgot Password -->
                        <div style="width: 100%; text-align: right;">
                            <a href="{{ url_for('auth.forgotPass') }}" class="allFont" style="color: #111111; text-decoration: underline;">Forgot password?</a>
                        </div>
                    </div>

                    <!-- Login Button -->
                    <button type="submit" class="login-button">
                        Log in
                    </button>
                </form>
            </div>
        </div>
    </div>
    
{% endblock %}
